@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


* {
    padding: 0;
    margin: 0;
}
body {
    background: rgb(180,46,92);
    background: linear-gradient(56deg, rgba(180,46,92,1) 0%, rgba(25,41,130,1) 84%);
    color: white;
}

#typedtext {
    font-family: 'Mochiy Pop One', sans-serif;
}

.icone {
    max-width: 75;
    margin: auto;
}


.navbar:hover {
    background-color: #55075c;
    cursor: pointer;
}


#screen {
    font-family: 'Ubuntu Mono', monospace;
}

#codeblock {
    background-color: #36286c;
    width: 100%;
}

.iconemob {
    max-width: 50;
}

.ico {
    margin: auto;
    padding-bottom: 5px;
}